:root {

  /* Color */
  background-color: #FFFFFF;
  color: #1E1E1E;

  /* Font */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



footer {
  padding: 65px 0;
  
}

a {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  padding: 0 16px;
}


div {
  display: flex;
  justify-content: center;
  padding: 36px;
}

header {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 36px;
  font-weight: 700;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header,
main,
footer {
  box-sizing: content-box;
  max-width: 1200px;
  padding: 0 10%;
  margin: auto;
}
